/**** MAIN PAGE ****/

body {
	background-color: #7f0000;
	overflow: hidden;
}

.row {
	position: relative;
}

#title {
	margin: 20px;
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 4em;
	font-family: 'Bebas Neue', serif;
	text-transform: uppercase;
	color: #0066ff;
	animation-name: glowing;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#bgVideo {
	position: absolute;
	left: -9em;
	top: -1em;
	width: 114vw;
	height: 114vh;
	z-index: -1;
  }

#vidFilm {
	background-color: #000000;
	position: absolute;
	width: 100%;
	height: 150%;
	z-index: 0;
	opacity: 0.5;
	pointer-events: none;
}

.btn-group {
	z-index: 5;
}


@keyframes glowing {
	0% {text-shadow: 2px 2px 32px #0079b1, 2px 2px 32px #181818;}
	12% {text-shadow: 2px 2px 32px #0079b1, 2px 2px 32px #272727;}
	25% {text-shadow: 2px 2px 32px #0079b1, 2px 2px 32px #3b3b3b;}
	37% {text-shadow: 2px 2px 32px #0079b1, 2px 2px 32px #5c5c5c;}
	50% {text-shadow: 2px 2px 32px #0079b1, 2px 2px 32px #7c7c7c;}
	62% {text-shadow: 2px 2px 32px #0079b1, 2px 2px 32px #9b9b9b;}
	75% {text-shadow: 2px 2px 32px #0079b1, 2px 2px 32px #c5c5c5;}
	87% {text-shadow: 2px 2px 32px #0079b1, 2px 2px 32px #e0e0e0;}
	100% {text-shadow: 2px 2px 32px #0079b1, 2px 2px 32px #ffffff;}
}


#header-nav {
	background-color: rgba(0, 0, 0, 0.6);
	height: 125px;
	border-radius: 0px;
	border-style: none none solid none;
}

#schedule-icon {
  position: relative;
  top: -80px;
  left: 80vw;
  font-size: 50px;
  color: white;
  text-shadow: 0px 0px 64px #ffffff;
  opacity: 0.8;
}

#schedule-icon:hover {
	opacity: 1;
}

#deutsch-icon {
	position:  relative;
	top: -140px;
	left: 5vw;
	font-size: 50px;
	color: red;
	text-shadow: 0px 0px 64px rgb(255, 0, 0);
}

#deutsch-icon:hover {
	text-shadow: 0px 0px 64px white, 0px 0px 64px rgb(255, 0, 0);
}

#main-content {
	position: relative;
	top: -15px;
	margin: 5px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 17px;
	height: 68vh;
}

.course-container {
	margin: auto;
	height: 78vh;
	width: 100%;
	position: relative;
	border: 2px solid #000000;
	text-align: center;
}

.course-link {
	overflow: hidden;
	display: block;
	height: 100%;
}

.course-link div:first-child {
	position: relative;
	padding: 15px;
	text-transform: uppercase;
	z-index: 2;
	background-color: #000;
	opacity: 0.7;
	color: white;
	font-size: 1.6em;
	box-shadow: 0px 2px 7px 5px #000;
}

.course-container > a:hover {
	text-decoration-line: none;
}

.course-container:hover {
	animation-name: course-glowing;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes course-glowing {
	0% {box-shadow: 2px 2px 32px #fff, 2px 2px 32px #181818;}
	12% {box-shadow: 2px 2px 32px #fff, 2px 2px 32px #272727;}
	25% {box-shadow: 2px 2px 32px #fff, 2px 2px 32px #3b3b3b;}
	37% {box-shadow: 2px 2px 32px #fff, 2px 2px 32px #5c5c5c;}
	50% {box-shadow: 2px 2px 32px #fff, 2px 2px 32px #7c7c7c;}
	62% {box-shadow: 2px 2px 32px #fff, 2px 2px 32px #9b9b9b;}
	75% {box-shadow: 2px 2px 32px #fff, 2px 2px 32px #c5c5c5;}
	87% {box-shadow: 2px 2px 32px #fff, 2px 2px 32px #e0e0e0;}
	100% {box-shadow: 2px 2px 32px #fff, 2px 2px 32px #ffffff;}
}

.bckgrnd-img {
	position: relative;
	z-index: 0;
}

#course-tile1 {
	grid-column: 1;
	grid-row: 1;
	background: url('../images/DS.jpg') no-repeat;
	background-position: -18px -73px;
	background-size: 110.25641025641026% 117.26575654067875%;
}

#course-tile2 {
	grid-column: 2;
	grid-row: 1;
	background: url('../images/APM.jpg') no-repeat;
	background-position: -57px -72px;
	background-size: 144.87179487179486% 114.47813950722363%;
}

#course-tile3 {
	grid-column: 3;
	grid-row: 1;	
	background: url('../images/PAI.jpg') no-repeat;
	background-position: -86px 0px;
	background-size: 209.6153846153846% 100.7258954755117%;
}

#course-tile4 {
	grid-column: 4;
	grid-row: 1;	
	background: url('../images/FR.jpg') no-repeat;
	background-position: -121px 0px;
	background-size: 185.89743589743588% 100.35421320438435%;
}

.button-container {
	bottom: 44px;
	left: -2px;
	width: 100.7%;
	margin-bottom: 15px;
	background-color: #fff;
	border: 2px solid #000000;
}

.expandable-button {
	width: 100%;
	position: relative;
	font-family: monospace;
	font-style: oblique;
	font-size: 1.4em;
}


#nav-list {
  margin: 0px;
  width:100%;
}

#nav-list a {
  text-align: center;
  color: #000;
  font-size: 1.3em;
  font-family: italic; 
}
#nav-list a:hover {
  background: #8f8d8d;
}

.btn .arrow {
	position: relative;
	left: 5vw;
	top: 3px;
}

.btn span {
	position: relative;
	top: 5px;
}

.dropdown-menu {
	width: 100%;
}

#completed {
	background-color: #000000;
	position: absolute;
	width: 92.8%;
	height: 92.8%;
	z-index: 3;
	opacity: 0.6;
	pointer-events: none;
}

@media(max-width:767px) {
	body {
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	#bgVideo {
		position: fixed;
		width: 450vw;
		height: 117vh;
	  }

	#title {
		margin-top: 10%;
		margin-left: 2%;
		font-size: 2.5em;
	}

	.glyphicon-globe:before, .glyphicon-calendar:before {
		font-size: 30px;
		position: relative;
		top: 0px;
	}

	#main-content {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
		gap: 17px;
		height: 68vh;
	}

	#course-tile1 {
		grid-column: 1;
		grid-row: 1;
		background: url('../images/DS.jpg') no-repeat;
		background-position: -18px -73px;
		background-size: 110.25641025641026% 117.26575654067875%;
	}
	
	.course-container {
		height: 39vh;
	}

	#course-tile2 {
		grid-column: 1;
		grid-row: 2;
	}
	
	#course-tile3 {
		grid-column: 1;
		grid-row: 3;
	}
	
	#course-tile4 {
		grid-column: 1;
		grid-row: 4;
	}

}


/**** END OF MAIN PAGE ****/


/**** SCHEDULE PAGE ****/


#header-nav2 {
	text-align: center;
	background-color: #080708;
	border-radius: 0px;
	border: 3px solid #fff;
	border-style: none none solid none;
}

@keyframes glowing2 {
	0% {text-shadow: 2px 2px 32px #ffffff, 2px 2px 32px #181818;}
	12% {text-shadow: 2px 2px 32px #ffffff, 2px 2px 32px #272727;}
	25% {text-shadow: 2px 2px 32px #ffffff, 2px 2px 32px #3b3b3b;}
	37% {text-shadow: 2px 2px 32px #ffffff, 2px 2px 32px #5c5c5c;}
	50% {text-shadow: 2px 2px 32px #ffffff, 2px 2px 32px #7c7c7c;}
	62% {text-shadow: 2px 2px 32px #ffffff, 2px 2px 32px #9b9b9b;}
	75% {text-shadow: 2px 2px 32px #ffffff, 2px 2px 32px #c5c5c5;}
	87% {text-shadow: 2px 2px 32px #ffffff, 2px 2px 32px #e0e0e0;}
	100% {text-shadow: 2px 2px 32px #ffffff, 2px 2px 32px #ffffff;}
}


#title2 {
	margin: 20px;
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 4em;
	font-family: 'Bebas Neue', serif;
	text-transform: uppercase;
	text-shadow: 5px 5px 5px #222;
	color: #ffffff;
	animation-name: glowing2;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.jumbotron {
	background-color: #e6ebb0
	;
}

.schedule {
	border-radius: 15px;
}

/**** END OF SCHEDULE PAGE ****/