body {
	background-color: red;
	font-size: 26px;
	font-family: 'Akaya Telivigala', cursive;
}

h1 {
	font-size: 2em;
	color: green;
	text-align: center;
}

div {
	color: yellow;
}

.box {
	margin-left: 20px;
}